<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html>
 <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  </head>
 <body>
  <div class="wrapper">
  	 <div class="logo"></div>
     <div class="menu">
      <ul id="css-menu">
      	<% unless current_page? :controller => "home" %>
       <li id="css-menu"><%= link_to "Home", { :controller => 'home'},  :id => 'css-menu'  %></li>
      <% else %>
      <li id ="css-menu-active"><%= link_to "Home",{  :controller => 'home'}, :id => '' %></li>
	   <%end%>
	   <% unless current_page? :controller => "Posts" %>
      <li id="css-menu"><%= link_to "Posts", { :controller => 'posts'},  :class => 'css-menu'  %></li>
      <% else %>
      <li id="css-menu-active"><%= link_to "Posts", { :controller => 'posts'},  :class => 'css-menu-active'  %></li>
	   <%end%>
	  <% unless current_page? :controller => 'posts', :action=>'new' %>
      <li id="css-menu"><%= link_to "New post", { :controller => 'posts', :action=> 'new'}, :id => 'css-menu'  %></li>
      <% else %>
      <li id="css-menu-active"><%= link_to "New post", { :controller => 'posts', :action=> 'new'} , :id => 'css-menu-active'  %></li>
	   <%end%>
   <li id="css-menu"><a href="#" id="css-menu">About me</a></li>
   </ul>	
     </div>
     <div class="content"><%= notice %>
     <%= yield %>
     </div>
    </div>
 </body>
</html>
